html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #fdfaff;
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png") !important;
}
#root {
  height: 100%;
}
.stats-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.logo-header {
  /* width: 33%;
  display: flex;
  flex-direction: column;
  */
}
.logo-text {
  text-align: center;
}
Header {
  display: none;
}
.header-wrapper {
  margin: auto;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.root-wrapper {
  padding: 10px;
}
.dropdown-wrapper {
  text-align: center;
}
.search-button {
  text-align: center;
  margin-top: 10px;
}
.footer {
  text-align: center;
}
.shadow {
  box-shadow: 0.1px 0.1px 10px !important;
}
.custom-background {
  background-image: url("https://www.transparenttextures.com/patterns/mocha-grunge.png") !important;
}
.update-button {
  width: 35%;
}

.countries-dropdown {
  width: 35% !important;
}
@media only screen and (max-width: 600px) {
  .countries-dropdown {
    width: 80% !important;
  }
  .update-button {
    width: 80%;
  }
}
@media only screen and (min-width: 600px) {
  .seg-1 {
    width: 50%;
    margin: auto !important;
    margin-bottom: 20px;
  }
  .seg-2 {
    width: 50%;
    margin: auto !important;
  }
  .seg-3 {
    width: 50%;
    margin: auto !important;
  }
  .margin-btm-20 {
    margin-bottom: 20px !important;
  }
  .seg-4 {
    width: 50%;
    margin: auto !important;
  }
}
